{
    GuildId(640463752877309962): {
        RoleId(1075253825411223642): RoleAttrs(
            flexible: true,
            edges: RoleEdges(
                parent: [],
                children: [
                    RoleId(1075253954272841820),
                    RoleId(1075253867597529202),
                ],
            ),
        ),
        RoleId(1075253954272841820): RoleAttrs(
            flexible: true,
            edges: RoleEdges(
                parent: [
                    RoleId(1075253825411223642),
                ],
                children: [
                    RoleId(1075253727285481532),
                ],
            ),
        ),
        RoleId(1075253727285481532): RoleAttrs(
            flexible: true,
            edges: RoleEdges(
                parent: [
                    RoleId(1075253954272841820),
                ],
                children: [],
            ),
        ),
        RoleId(1075253867597529202): RoleAttrs(
            flexible: true,
            edges: RoleEdges(
                parent: [
                    RoleId(1075253825411223642),
                ],
                children: [],
            ),
        ),
    },
}